<!-- scheda_clienti.handlebars -->

<!DOCTYPE html>
<html>
<head>
    <title>Lista Pazienti</title>
    <link rel="stylesheet" href="schedastyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<h1>Lista Pazienti</h1>
<div>
    {{#each utenti}}
        <div class="wrapper">
            <div class="user-picture">
                <svg viewBox="0 0 448 450" xmlns="http://www.w3.org/2000/svg">
                    <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
                </svg>
            </div>
            <p>Nome: {{name}}</p>
            <p>Cognome: {{surname}}</p>
            <p>Email: {{emailAddress}}</p>
            <p>Dottore: {{doctor}}</p>
            <a href="/graficiDiabete/{{emailAddress}}">Glicemia </a>
            <a href="/graficiPressioneMax/{{emailAddress}}">Pressione Massima </a>
            <a href="/graficiPressioneMin/{{emailAddress}}">Pressione Minima </a>
            <div class="wrapper1">
                <p> Polar H10</p>
                <a href="/graficiHeartRate/{{emailAddress}}">Heart Rate | </a>
                <a href="/graficiECG/{{emailAddress}}">ECG </a>
            </div>
            <div class="wrapper1">
                <p> Polar Verity Sense</p>
                <a href="/graficiVSHeartRate/{{emailAddress}}">Heart Rate |</a>
                <a href="/graficiVSECG/{{emailAddress}}">ECG |</a>
                <a href="/graficiAcc/{{emailAddress}}">Acc |</a>
                <a href="/graficiGyro/{{emailAddress}}">Gyro |</a>
                <a href="/graficiMagnetometro/{{emailAddress}}">Magnetometro |</a>
                <a href="/graficiPPG1/{{emailAddress}}">PPG1 |</a>
                <a href="/graficiPPG2/{{emailAddress}}">PPG2 |</a>
                <a href="/graficiPPG3/{{emailAddress}}">PPG3 |</a>
                <a href="/graficiPPI/{{emailAddress}}">PPI </a>

            </div>
        </div>
    {{/each}}
</div>
</body>
</html>
